<h1>Spiderman</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<button *ngIf="name!=='spiderman'" (click)="changeName('spiderman')" class="btn btn-primary mx-2">
  cambiar nombre
</button>
<button *ngIf="age!==25" (click)="changeAge(25)" class="btn btn-primary">
  cambiar edad
</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">
  reset
</button>
